@font-face{font-family:"Microsoft JhengHei" !important;src:local("Microsoft JhengHei") !important;unicode-range:U+4E00-9FFF !important}
body {margin:0;background-color:#E5E4E2;color:#3B3B3B;font-size:1.2rem;font-family:arial,'Microsoft JhengHei', sans-serif !important}
#container{min-height:100vh;max-width:600px;margin:auto;background-color:#F8F8F8;display:none}
/* #toc{height:100vh;max-width:600px;margin:auto;background-color:#F8F8F8;display:none} */
#bottom{max-width:600px;margin:auto;background-color:#F8F8F8;}
.upload-btn{display:none}
.sepia{background-color:#F8F8F8 !important;color:#3B3B3B !important;--bs-table-bg:#F8F8F8 !important;--bs-table-color:#3B3B3B !important;}
.sepia-contrast{background-color:#3B3B3B !important;color:#F8F8F8 !important}
h1,h2,h3,h4,h5,h6,.title{font-size:1.2rem;color:#3B3B3B !important;font-weight:bold}.en-us,.fs12{font-size:1.2rem} 
#list, .btn {font-weight:600}
#loading{width:5rem;height:5rem}

.content{display:none;cursor:pointer}
#auth-form, #error { display: none; }
#uploadBtn{display:none}
#ytPlayer{aspect-ratio:1.78;}
iframe{width:100% !important;height:auto !important}
iframe[id^="video"], iframe[src^="https://player.vimeo.com/video/"]{width:100%;aspect-ratio:1.78;height:auto;margin-top:0.5rem;border:none;border-radius:0.375rem}
iframe[id^="bii-flourish"]{width:100%;aspect-ratio:1.5;border:none;border-radius:0.375rem}
iframe[id="blkIframe"]{width:100%;aspect-ratio:2;border:none;border-radius:0.375rem}
.bii-flourish{padding:0}
div.raw-html-embed iframe{width:100% !important;height:auto !important}
video{width:100% !important;height:auto !important;border-radius:0.375rem;width:100% !important}
.translated-text,.fs09em {font-size:0.9em}

audio{margin-right:auto;margin-left:auto;width:100%}
.plyr__video-embed{height:315px !important;width:560px !important}
.disable-dbl-tap-zoom{touch-action:manipulation}
.b-highlight{color:green;background-color:#E5E4E2}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th{color:green}
.table-auto {
  table-layout: auto !important;  /* 讓欄位寬度依內容決定 */
  /* width: auto !important; 為captions調整*/
}
.text-nowrap {
  white-space: nowrap !important; /* 不換行 */
}

.highlight {margin-top: 0;margin-bottom: 1rem} /* same as <p> */
.mw-heading1, .mw-heading2 {padding-top:3rem;color:#FF4D00;border-bottom:1px solid;border-color:#a2a9b1}
.content-wrapper.row.video-on-left.ct-key-points {margin:0}
div.image.image-short, div.item div.photo,div.quote-mark{width:20%}
.css-1l5amll.e1y9q0ei0{font-size:1.3rem}
.fs11{font-size:1.1rem}
.fs10, .time, time, figcaption, .bbc-1rvtlej,.bbc-1276odk, p.source, table,div.inf, strong#article-byline.bbc-m04vo2, .two-columns-with-media__media-caption{font-size:1rem}
.fs07{font-size:0.7rem}
* {word-break: break-word;overflow-wrap: break-word;max-width: 100%;}
h1 a {color: navy; font-weight: bold; text-decoration:none;cursor:pointer}
img{display:block !important;margin:auto;width:100%;height:auto;border-radius:0.375rem}
.infobox.geography.vcard, .wikitable{max-width:100%!important}
.bbc-2fjy3x{position:relative;height:0;width:5rem;height:5rem;} .bbc-1rvtlej{list-style:none;padding:0;margin:0;}
#article-side-rail,.bbc-geybui,.bbc-1151pbn.ebmt73l0,button.transcript-title,.caas-attr,.caas-da,.caas-header,.caas-readmore,.coffee-btn-wrapper,div.body-tabs-data,.div-gpt-ad-cnyes_news_article_middle_2,div[data-componentname="Standard Banner"],div[data-componentname="Navigation List"],div[data-componentname="Image Cta"],div[data-componentname="Related Materials"],.edn-ads--inlineAds,form.subscription-widget-subscribe,.gmailNews,.googlenews_Content,.Google-special,.Google-special.d-md-block,.googlenews_Content,h2 svg, img.logo-PsAlMQQF.xxxsmall-PsAlMQQF.wrapper-TJ9ObuLF.skeleton-PsAlMQQF,img.logo-ocURKVwI.xxxsmall-ocURKVwI.skeleton-ocURKVwI.wrapper-TJ9ObuLF,img.logo-PsAlMQQF.xxxsmall-PsAlMQQF.letter-PsAlMQQF,img[src*="face/emoji"],.inline-ads,.inline-ads.inline-ads--desktop,.js-advertise.ad-content,.mw-editsection,.pg.red,.raise_block,div[data-e2e^="youtube-embed"],.reflist,.reflist.columns.references-column-width,section[data-e2e="recommendations-heading"],.social-media-share-container,.SubscriptionInner.mySubscriptionInner,.tooltip-wrap.toggle_button_click,.udn-ads,.user-controls-container.print-no,#bmc-tn-modal,#inside_AD,#pumpkin_159,#references-NoteFoot,#sda-moments-iframe,#sf_div-gpt-ad-1599104924568-0-1{display:none}

/* old sepia
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  body{margin:0;background-color:#F4ECD8;color:#3B2D20;font-size:1.5rem;font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;}
  #container{min-height:100vh;max-width:100%;margin:auto;background-color:#F4ECD8}
  .sepia{background-color:#F4ECD8;color:#3B2D20}
  .sepia-contrast{background-color:#3B2D20;color:#F4ECD8}
  h1,h2,h3,h4,h5,h6,.title{font-size:1.5rem;color:#3B2D20 !important;font-weight:bold}
  #list, .btn {font-weight:normal}
  #loading{width:3rem;height:3rem}
  .en-us,.fs12{font-size:1.3rem}
} */

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  body{margin:0;background-color:#FFF1E5;color:#33302E;font-size:1.5rem;font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;}
  #container{min-height:100vh;max-width:100%;margin:auto;background-color:#FFF1E5}
  .sepia{background-color:#FFF1E5 !important;color:#33302E !important;--bs-table-bg:#FFF1E5 !important;--bs-table-color:#33302E !important;}
  .sepia-contrast{background-color:#33302E !important;color:#FFF1E5 !important}
  h1,h2,h3,h4,h5,h6,.title{font-size:1.5rem;color:#33302E !important;font-weight:bold}
  #list, .btn {font-weight:normal}
  #loading{width:3rem;height:3rem}
  .en-us,.fs12{font-size:1.3rem}
}

/* ✅ iPhone 11、XR、12、13、14 以上機種 */
@media screen and (max-width: 430px) and (-webkit-min-device-pixel-ratio: 2) {

}

/* ✅ 一般 iPad (如 9.7", 10.2", iPad Air) */
@media screen and (min-width: 768px) and (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 2) {
  body{font-size:2rem} h1,h2,h3,h4,h5,h6,.title{font-size:2rem} .en-us,.fs12{font-size:1.6rem} .fs10, .time, figcaption, .btn{font-size:1.3rem} #list{padding:2rem} svg.bi{height:2.8rem !important;width:2.8rem !important}
}

/* ✅ iPad Pro 12.9 吋 */
@media screen and (min-width: 1024px) and (max-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
  body{font-size:2rem} h1,h2,h3,h4,h5,h6,.title{font-size:2rem} .en-us,.fs12{font-size:1.6rem} .fs10, .time, figcaption, .btn{font-size:1.3rem} #list{padding:2rem} svg.bi{height:2.8rem !important;width:2.8rem !important}
}
